# Database
DATABASE_URL=postgresql://user:password@host:5432/dbname

# EDI Credentials
RAY_ISA_ID=3863629312
FEMA_ISA_TEST=521227911TDL
FEMA_ISA_PROD=521227911

# OpenAS2 folders
OPENAS2_INBOX=/opt/openas2/data/inbox
OPENAS2_OUTBOX=/opt/openas2/data/outbox

# Environment
NODE_ENV=development
PORT=3000

# Alerts
ALERT_EMAIL=anthony@runbusiness.com
